<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Personal Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to your personal dashboard!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/new-post">Create New Post</a>
    <button id="logout" class="btn-no-style">Logout</button>
  </nav>
  <main>
    <aside>
      <h2>Look at your posts!</h2>
    </aside>
    <div class="blog-post">
      {{{body}}}
    </div>
  </main>
  <script src="/js/logout.js"></script>
</body>

</html>